# Created by .ignore support plugin (hsz.mobi)

######################
# GemFire stuff:
######################
*.local
*.log
*.if
*.crf
*.drf
*.krf
*.lf
*.lk
*.pid
*.gfs
*.dat
vf.gf.dmn-events.txt
vf.gf.dmn-license.cfg


######################
# Directories #
######################

/build/
bin/
repos/
/repos/
doc/
/doc/
.gradle/
/bin/
target/

######################
# JetBrain's Idea specific stuff
######################

.idea*
*.iml
.iml
mvnw
mvnw.cmd

######################
# User-specific stuff:
######################

######################
## File-based project format:
######################

######################
## Plugin-specific files:
######################

######################
# IntelliJ
######################

######################
# Windows
######################


######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Eclipse
######################

.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

